.navbar{
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: #00204a;
    position: fixed;
    top: 0%;
    left: 0%;
    height: 95px;
    width: 100%;
    z-index: 100;
  }
  
  .navList{
      display: flex ;
      justify-content: space-evenly;
      align-items: center;
      width: 360px;
      list-style: none;
  }
  
  .logo{
    color: #fd5f00;
    font-family: "Permanent Marker", sans-serif;
    font-size: 53px;
  }
  
  .fontLink{
    text-decoration: none;
    color: #fd5f00;
    font-size: 20px;
    font-family: sans-serif;
  }